{% comment %} <link rel="stylesheet" media="screen and (min-width:769px)" href="{{ 'normalize.css' | asset_url }}"> {% endcomment %}
<link rel="stylesheet" media="screen and (min-width:769px)" href="{{ 'custom-index.css' | asset_url }}">
<link rel="stylesheet" media="screen and (max-width:768px)" href="{{ 'custom-index-mobile.css' | asset_url }}">

<div class="layout-body">
  <div id="layout-pc">
    <div class="banner">
      <div class="banner-bg"></div>
      <div class="container">
        <div class="banner-logo-inner">
        </div>
        <div class="slogan-inner">
          <p class="slogan fade-in-enter-active">Resonate Aesthetics Worldwide</p>
        </div>
      </div>
    </div>
    
    <div id="about" class="module-padding"></div>
  
    <div class="module-title">
      <span class="bg" style="display:none">About Us</span>
      <h2 class="fade-in-enter-active" style="display:none">About Us</h2>
    </div>
  
    <div class="container about-container">
      <div class="about fade-in-enter-active">
        THE PEGAS was born in Milano, Italy. Our teams are based in fashion hubs around the globe, our goal is to discover Aesthetics Reson worldwide.<br><br>
        Through innovated Galileo system, THE PEGAS connects with Luxury Department Stores, Brand Franchise Stores, and Boutiques in Europe, the Middle East, Hong Kong, and Mainland China. By harnessing advanced technology, we have kept a real-time stock synchronization globally 24/7 year around.<br><br> 
        Partnering with DHL and UPS, delivery worldwide in 10 days is not a dream, also provides worry-free returns.
      </div>
    </div>
  
    <div id="services" class="module-padding"></div>
  
    <div class="module-title">
      <span class="bg">Our Services</span>
      <h2 class="center fade-in-enter-active">Services</h2>
    </div>
  
    <div class="services">
      <div class="services-top">
        <div class="services-bg"><img width="2304" src="https://im-shopify.s3.amazonaws.com/valise-web/pc/services-bg.png" alt loading="lazy"></div>
        <div class="container services-list fade-in-enter-active">
          <div class="swiper-wrapper">
            <div class="swiper-slide services-item">
              <div class="services-left">
                <div class="no">01</div>
                <p class="title">Top Brand</p>
                <p class="subtitle">1,000+ Fashion Brands, 500,000 Products Onsale</p>
              </div>
              <img width="645" height="340" src="https://im-shopify.s3.amazonaws.com/valise-web/pc/services01.png" alt="" loading="lazy">
            </div>
            <div class="swiper-slide services-item">
              <div class="services-left">
                <div class="no">02</div>
                <p class="title">Real-time Stock Globally European Price</p>
                <p class="subtitle">Exclusive Galileo system to keep global product stock update in real-time, 24/7 year around.</p>
              </div>
              <img width="645" height="340" src="https://im-shopify.s3.amazonaws.com/valise-web/pc/services02.png" alt="" loading="lazy">
            </div>
            <div class="swiper-slide services-item">
              <div class="services-left">
                <div class="no">03</div>
                <p class="title">Customized International Express</p>
                <p class="subtitle">DHL, UPS customized logistics solutions with real-time track & track online</p>
              </div>
              <img width="645" height="340" src="https://im-shopify.s3.amazonaws.com/valise-web/pc/services03.png" alt="" loading="lazy">
            </div>
          </div>
        </div>
      </div>
      <div class="services-bottom">
        <div class="container">
          <div class="services-control">
            <div class="services-control-item">
              <div class="no">01</div>
              <div class="title active">Top Brand</div>
            </div>
            <div class="services-control-item">
              <div class="no">02</div>
              <div class="title">Real-time Stock<br>European Price<br></div>
            </div>
            <div class="services-control-item">
              <div class="no">03</div>
              <div class="title">International Express<br>DHL / UPS</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="partner" class="module-padding"></div>
  
    <div class="container">
      <div class="union">
        <div>
          <div class="union-left fade-in-enter-active"></div>
        </div>
        <div class="union-right fade-in-enter-active">
          <div class="module-title">
            <span class="bg">Valise Partner</span>
            <h2>Affiliation with Inluencers</h2>
          </div>
          <div class="content-inner">
            <p class="content">
              Now, there have been about 3,000 influencers affiliated with THE PEGAS. They are fashion bloggers, personal stylists, professional buyers, and fashion media editors, etc. Leveraging THE PEGAS, they are able to bring aesthetic resonance into reality. THE PEGAS has customized promotion campaigns with influencers based on their fan’s unique tastes and needs by analyzing and sourcing corresponding products for the best fit. Together, we deliver a cheerful and delicate fashion shopping experience.
            </p>
          </div>
          <div class="btn-inner">
            <a href="index.html#contact" class="btn" style="display: none;">
              <div class="mask"></div>
              <div class="text">More →</div>
            </a>
          </div>
          <ul class="total">
            <li>
              <div class="num">3,000+</div>
              <div class="title">Influencers</div>
            </li>
            <li>
              <div class="num">1,000+</div>
              <div class="title">Fashion Brands</div>
            </li>
            <li>
              <div class="num">500,000+</div>
              <div class="title">Products Onsale</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div id="enterprise" class="module-padding"></div>
  
    <div class="company">
      <div class="container">
        <div class="module-title fade-in-enter-active"><span class="bg">Enterprise Scale</span>
          <h2 class="center">Teams</h2>
        </div>
        <p class="content c1">THE PEGAS management team was used to work for LVMH group and Global Fashion eCommerce company.</p>
        <p class="content c2">THE PEGAS team operates across the globe, from Milano, Paris, London, Barcelona, Toyko to Hong Kong. We provide seamlessly services to merchants locally from technology consulting and logistics services to warehousing, product quality assurance, and repair service.</p>
        <div class="company-list">
          <div class="swiper-wrapper">
            <div class="swiper-slide company-item">
              <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/company01.png" alt loading="lazy">
              <div class="company-bottom">
                <p class="title">MILAN</p>
                <p class="subtitle">Buying Headquarter</p>
              </div>
            </div>
            <div class="swiper-slide company-item">
              <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/company02.png" alt loading="lazy">
              <div class="company-bottom">
                <p class="title">HONG KONG</p>
                <p class="subtitle">Operation Headquarter</p>
              </div>
            </div>
            <div class="swiper-slide company-item"><img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/london.jpg" alt loading="lazy">
              <div class="company-bottom">
                <p class="title">LONDON</p>
                <p class="subtitle">Buying Office</p>
              </div>
            </div>
            <div class="swiper-slide company-item">
              <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/company04.png" alt loading="lazy">
              <div class="company-bottom">
                <p class="title">TOKYO</p>
                <p class="subtitle">Buying Office</p>
              </div>
            </div>
            <div class="swiper-slide company-item">
              <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/barcelna.jpg" alt loading="lazy">
              <div class="company-bottom">
                <p class="title">BARCELONA</p>
                <p class="subtitle">Buying Office</p>
              </div>
            </div>
            <div class="swiper-slide company-item">
              <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/company06.png" alt loading="lazy">
              <div class="company-bottom">
                <p class="title">ROME</p>
                <p class="subtitle">Buying Office</p>
              </div>
            </div>
            <div class="swiper-slide company-item">
              <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/company07.png" alt loading="lazy">
              <div class="company-bottom">
                <p class="title">PARIS</p>
                <p class="subtitle">Buying Office</p>
              </div>
            </div>
            <div class="swiper-slide company-item">
              <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/xdl.jpg" alt loading="lazy">
              <div class="company-bottom">
                <p class="title">MADRID</p>
                <p class="subtitle">Buying Office</p>
              </div>
            </div>
          </div>
        </div>
        <div class="company-control">
          <div class="control left">
            <div class="circle">
              <div class="in-circle"></div>
            </div>
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/arrow-left.png" width="41" height="6" alt loading="lazy">
          </div>
          <div class="indicate">
            1
            <div class="line"></div>
            7
          </div>
          <div class="control right">
            <div class="circle">
              <div class="in-circle"></div>
            </div>
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/arrow-left.png" width="41" height="6" alt loading="lazy">
          </div>
        </div>
        <div class="vertical-bar"></div>
      </div>
    </div>
  
    <div id="investors" class="module-padding"></div>
    
    <div class="investors">
      <div class="module-title">
        <span class="bg">Investors</span>
        <h2 class="center">Investors</h2>
      </div>
      <p class="content">THE PEGAS is invested by top global Venture Capitals</p>
      <div class="investors-list">
        <div class="container">
          <div class="investors-item">
            <div class="investors-inner">
              <div class="logo"><img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/investor01.png" width="150" height="21" alt loading="lazy"></div>
              <p class="title">FOSUN Group</p>
              <div class="block"></div>
              <div class="layer">
                <p class="title">FOSUN Group</p>
                <div class="block"></div>
                <p class="content">Owner of Lavin, ClubMed, and Palazzo Broggietc luxury fashion brand. World class investor with ~$93B assets. Rank 416 on 2018 Forbs Top 2000 company.</p>
                <a href="https://en.fosun.com" target="_blank" class="btn">
                  <div class="mask"></div>
                  <div class="text">More →</div>
                </a>
              </div>
            </div>
          </div>
          <div class="investors-item">
            <div class="investors-inner">
              <div class="logo">
                <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/investor02.png" width="89" height="68" alt loading="lazy">
              </div>
              <p class="title">Vision Capital</p>
              <div class="block"></div>
              <div class="layer">
                <p class="title">Vision Capital</p>
                <div class="block"></div>
                <p class="content">Founded in 2015. Manage $1B funding. Invested about 130 technology startups including Lixiang Automotive(NASDAQ: LI), Tuya(NYSE: TUYA), MissFresh(NYSE: MF) </p>
                <a href="https://visionpluscapital.com/en/" target="_blank" class="btn">
                  <div class="mask"></div>
                  <div class="text">More →</div>
                </a>
              </div>
            </div>
          </div>
          <div class="investors-item">
            <div class="investors-inner">
              <div class="logo">
                <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/investor03.png" width="172" height="22" alt loading="lazy">
              </div>
              <p class="title">HILLHOUSE</p>
              <div class="block"></div>
              <div class="layer">
                <p class="title">HILLHOUSE</p>
                <div class="block"></div>
                <p class="content">One of the largest investors in Asia’s asset management area. Invest Uber, Baidu, Tencent, Jindong, Didi, Meituan, etc.</p>
                <a href="https://www.hillhouseinvestment.com" target="_blank" class="btn">
                  <div class="mask"></div>
                  <div class="text">More →</div>
                </a>
              </div>
            </div>
          </div>
          <div class="investors-item">
            <div class="investors-inner">
              <div class="logo"><img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/investor04.png" width="150" height="33" alt loading="lazy"></div>
              <p class="title">BLUELAKE Capital</p>
              <div class="block"></div>
              <div class="layer">
                <p class="title">BLUELAKE Capital</p>
                <div class="block"></div>
                <p class="content">Research-driven venture capital firm. Managed $700M USD. </p>
                <a href="https://www.bluelakecap.com/en" target="_blank" class="btn">
                  <div class="mask"></div>
                  <div class="text">More →</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="layout-h5">
    <div id="banner" class="banner">
      <img class="banner-logo" src="https://im-shopify.s3.amazonaws.com/valise-web/h5/banner-logo.png" alt loading="lazy">
      <p class="slogan">Resonate Aesthetics Worldwide</p>
      <a href="#A"><img class="arrow-bottom" src="https://im-shopify.s3.amazonaws.com/valise-web/h5/arrow-bottom.png" alt loading="lazy"></a>
    </div>
  
    <div id="h5-about" class="about">
      <div class="module-title">
        <span class="gray">About Us</span>
        <h2>About Us</h2>
      </div>
      <p>THE PEGAS was born in Milano, Italy. Our teams are based in fashion hubs around the globe, our goal is to discover Aesthetics Reson worldwide.<br><br
        >Through innovated Galileo system, THE PEGAS connects with Luxury Department Stores, Brand Franchise Stores, and Boutiques in Europe, the Middle East, Hong Kong, and Mainland China. By harnessing advanced technology, we have kept a real-time stock synchronization globally 24/7 year around.<br><br
        >Partnering with DHL and UPS, delivery worldwide in 10 days is not a dream, also provides worry-free returns.
      </p>
    </div>
  
    <div id="h5-services" class="services">
      <div class="module-title inverse"><span class="gray">Our Services</span>
        <h2>Our Services</h2>
      </div>
      <div class="services-wrap">
        <div class="swiper-wrapper">
          <div class="swiper-slide services-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/services01.png" alt loading="lazy">
            <div class="services-bottom">
              <div class="no">01</div>
              <p class="title">Top Brand</p>
              <p class="subtitle">1,000+ Fashion Brands, 500,000 Products Onsale</p>
            </div>
          </div>
          <div class="swiper-slide services-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/services02.png" alt loading="lazy">
            <div class="services-bottom">
              <div class="no">02</div>
              <p class="title">Real-time Stock Globally European Price</p>
              <p class="subtitle">Exclusive Galileo system to keep global product stock update in real-time, 24/7 year around.</p>
            </div>
          </div>
          <div class="swiper-slide services-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/services03.png" alt loading="lazy">
            <div class="services-bottom">
              <div class="no">03</div>
              <p class="title">Customized International Express</p>
              <p class="subtitle">DHL, UPS customized logistics solutions with real-time track & track online</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="h5-partners" class="union">
      <div class="module-title">
        <span class="gray f24">Valise Partners</span>
        <h2>Affiliation with Inluencers</h2>
      </div>
      <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/union.png" alt loading="lazy">
      <p>
        Now, there have been about 3,000 influencers affiliated with THE PEGAS. They are fashion bloggers, personal stylists, professional buyers, and fashion media editors, etc. Leveraging THE PEGAS, they are able to bring aesthetic resonance into reality. THE PEGAS has customized promotion campaigns with influencers based on their fan’s unique tastes and needs by analyzing and sourcing corresponding products for the best fit. Together, we deliver a cheerful and delicate fashion shopping experience.
      </p>
      <a href="#contact" style="display: none;">More →</a>
    </div>
  
    <div id="h5-enterprise" class="company">
      <div class="container">
        <div class="module-title">
          <span class="gray cf2 f24">Enterprise Scale</span>
          <h2>Teams</h2>
        </div>
        <p class="content">THE PEGAS management team was used to work for LVMH group and Global Fashion eCommerce company.<br><br
          >THE PEGAS team operates across the globe, from Milano, Paris, London, Barcelona, Toyko to Hong Kong. We provide seamlessly services to merchants locally from technology consulting and logistics services to warehousing, product quality assurance, and repair service.</p>
      </div>
      <div class="company-wrap">
        <div class="swiper-wrapper">
          <div class="swiper-slide company-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/company01.png" alt loading="lazy">
            <div class="company-bottom">
              <p class="title">MILAN</p>
              <p class="subtitle">Buying Headquarter</p>
            </div>
          </div>
          <div class="swiper-slide company-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/company02.png" alt loading="lazy">
            <div class="company-bottom">
              <p class="title">HONG KONG</p>
              <p class="subtitle">Operation Headquarter</p>
            </div>
          </div>
          <div class="swiper-slide company-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/london.jpg" alt loading="lazy">
            <div class="company-bottom">
              <p class="title">LONDON</p>
              <p class="subtitle">Buying Office</p>
            </div>
          </div>
          <div class="swiper-slide company-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/company04.png" alt loading="lazy">
            <div class="company-bottom">
              <p class="title">TOKYO</p>
              <p class="subtitle">Buying Office</p>
            </div>
          </div>
          <div class="swiper-slide company-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/barcelna.jpg" alt loading="lazy">
            <div class="company-bottom">
              <p class="title">BARCELONA</p>
              <p class="subtitle">Buying Office</p>
            </div>
          </div>
          <div class="swiper-slide company-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/company06.png" alt loading="lazy">
            <div class="company-bottom">
              <p class="title">ROME</p>
              <p class="subtitle">Buying Office</p>
            </div>
          </div>
          <div class="swiper-slide company-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/company07.png" alt loading="lazy">
            <div class="company-bottom">
              <p class="title">PARIS</p>
              <p class="subtitle">Buying Office</p>
            </div>
          </div>
          <div class="swiper-slide company-slide">
            <img src="https://im-shopify.s3.amazonaws.com/valise-web/pc/xdl.jpg" alt loading="lazy">
            <div class="company-bottom">
              <p class="title">MADRID</p>
              <p class="subtitle">Buying Office</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div id="h5-investors" class="investor">
      <div class="module-title inverse">
        <span class="gray">Investors</span>
        <h2>Investors</h2>
      </div>
      <div class="investor-item active">
        <div class="investor-logo">
          <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/investor01.png" alt loading="lazy">
          <div class="more">See more<div class="more-icon"></div>
          </div>
        </div>
        <p class="title">FOSUN Group</p>
        <p class="content">
          Owner of Lavin, ClubMed, and Palazzo Broggietc luxury fashion brand. World class investor with ~$93B assets. Rank 416 on 2018 Forbs Top 2000 company.</p>
        <a href="https://en.fosun.com" target="_blank" class="detail">More →</a>
      </div>
      <div class="investor-item">
        <div class="investor-logo">
          <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/investor03.png" alt loading="lazy">
          <div class="more">See more<div class="more-icon"></div>
          </div>
        </div>
        <p class="title" style="display:none">Vision Capital</p>
        <p class="content" style="display:none">
          Founded in 2015. Manage $1B funding. Invested about 130 technology startups including Lixiang Automotive(NASDAQ: LI), Tuya(NYSE: TUYA), MissFresh(NYSE: MF) </p>
        <a href="https://visionpluscapital.com/en/" target="_blank" class="detail" style="display:none">More →</a>
      </div>
      <div class="investor-item">
        <div class="investor-logo">
          <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/investor02.png" alt loading="lazy">
          <div class="more">See more<div class="more-icon"></div>
          </div>
        </div>
        <p class="title" style="display:none">HILLHOUSE</p>
        <p class="content" style="display:none">
          One of the largest investors in Asia’s asset management area. Invest Uber, Baidu, Tencent, Jindong, Didi, Meituan, etc.</p>
        <a href="https://www.hillhouseinvestment.com" target="_blank" class="detail" style="display:none">More →</a>
      </div>
      <div class="investor-item">
        <div class="investor-logo">
          <img src="https://im-shopify.s3.amazonaws.com/valise-web/h5/investor04.png" alt loading="lazy">
          <div class="more">See more<div class="more-icon"></div>
          </div>
        </div>
        <p class="title" style="display:none">Bluelake Capital</p>
        <p class="content" style="display:none">
          Research-driven venture capital firm. Managed $700M USD. </p>
        <a href="https://www.bluelakecap.com/en" target="_blank" class="detail" style="display:none">More →</a>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'swiper-3.4.2.jquery.min.js' | asset_url }}" defer="defer"></script>
<script>
function isOnVisibleScreen(dom){
  var domOffsetTop = dom.offset().top;
  var startViewNum = 200  // 增大可视区域上面范围
  var endViewNum = 500  // 增大可视区域下面范围
  return domOffsetTop + endViewNum >= $(window).scrollTop() && domOffsetTop + startViewNum < ($(window).scrollTop() + $(window).height())
};

function changeBtn() {
  var scrollTop = $(window).scrollTop()
  var ratio = 0.05;
  var topNum = 50;
  var bottomNum = -10;
  
  var positionY1 = 0;
  var Y1 = 0;

  var positionY2 = 0;
  var Y2 = 0;

  var slogan = $('#layout-pc .slogan:eq(0)')
  var moduleTitle = $('#layout-pc .module-title:eq(0)')
  var about = $('#layout-pc .about-container')
  var servicesTop = $('#layout-pc .services-top')
  var union = $('#layout-pc .union')
  var servicesBg = $('.services-bg')
  var investorsList = $('.investors-list')

  if (isOnVisibleScreen(slogan)) {
    slogan.show()
  } else {
    slogan.hide()
  }

  if (isOnVisibleScreen(moduleTitle)) {
    moduleTitle.children().show()
  } else {
    moduleTitle.children().hide()
  }

  if (isOnVisibleScreen(about)) {
    about.children('.about').show()
  } else {
    about.children('.about').hide()
  }

  if (isOnVisibleScreen(servicesTop)) {
    servicesTop.children('.services-list').show()
  } else {
    servicesTop.children('.services-list').hide()
  }

  if (isOnVisibleScreen(union)) {
    union.children().show()
  } else {
    union.children().hide()
  }
  
  Y1 = servicesBg.offset().top * ratio;
  positionY1 = Y1 - scrollTop * ratio; //原始高度-滚动距离*视差系数
  if(positionY1 > topNum) {
    positionY1 = topNum
  }
  if(positionY1 < bottomNum) {
    positionY1 = bottomNum
  }
  servicesBg.children('img').css('transform', 'translateY('+ positionY1 + 'px)');

  Y2 = investorsList.offset().top * ratio;
  positionY2 = Y2 - scrollTop * ratio; //原始高度-滚动距离*视差系数
  if(positionY2 > topNum) {
    positionY2 = topNum
  }
  if(positionY2 < bottomNum) {
    positionY2 = bottomNum
  }
  investorsList.css('background-position-y', positionY2 + 'px');
}

window.onload = function() {
  var timer = null;
  var isPc = 768 < $(window).width();
  if(isPc) {
    // PC
    $(window).scroll(function() {
      {% comment %} if(timer){
        clearTimeout(timer);
      } {% endcomment %}
    
      {% comment %} timer = setTimeout(function() {
        changeBtn()
      }, 100); {% endcomment %}
      changeBtn()
    });
    
    var servicesList = new Swiper('.services-list', {
      loop:true
    });

    $('.services-control-item').click(function(){
      let index = $(this).index()
      $('.services-control-item').children('.title').removeClass('active');
      $(this).children('.title').addClass('active');
      servicesList.slideTo(index+1, 500, false); 
    })

    var companyList = new Swiper('.company-list', {
      autoplay: 3000,
      slidesPerView: 'auto',
      centeredSlides: true,
      loop:true,
      prevButton: '.control.left',
      nextButton: '.control.right',
    });
  }else {
    // H5
    var servicesWrap = new Swiper('.services-wrap', {
      slidesPerView: 'auto',
      spaceBetween: 10,
      centeredSlides: true,
    });

    var servicesWrap = new Swiper('.company-wrap', {
      slidesPerView: 'auto',
      spaceBetween: 10,
      centeredSlides: true,
    });

    $('.investor-item').click(function() {
      $('.investor-item').removeClass('active');
      $('.investor-item').children('p').hide();
      $('.investor-item').children('a').hide();
      $(this).addClass('active');
      $(this).children('p').show();
      $(this).children('a').show();
    })
  }
}
</script>

{% schema %}
  {
    "name": "Custom Index",
    "class": "custom-section",
    "settings": [
      
    ],
    "blocks": [
      
    ],
    "presets": [{
      "name": "Custom Index",
      "blocks": [
        
      ]
    }]
  }
{% endschema %}